#app table {
  cursor: pointer;
}
#app table td {
  padding: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
}
#app table td[data-cell-type="0"] {
  background: #333;
}
#app table td[data-cell-type="1"] {
  background: #45a227;
}
button {
  cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
